---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

// Récupérer les projets depuis GitHub
var response = await fetch('https://api.github.com/users/Rayanejr/repos');
var githubProjects = await response.json();

var getProjectImage = (projectName, defaultImage = '/assets/logo.jpg') => {
    var imagePath = `/assets/${projectName}.jpg`;
    try {
        if (fs.existsSync(`public${imagePath}`)) {
            return imagePath;
        }
    } catch (error) {
        console.error(`Erreur lors de la recherche de l'image pour le projet ${projectName}:`, error);
    }
    return defaultImage;
};

// Vos projets manuels
const manualProjects = [
    {
        name: "Projets réalisé durant mon stage a la BTL",
        image: getProjectImage("projet res"),
        created_at: "2022-07-01",
        description: "Durant mon stage de deux mois au siège de la Banque Tuniso-Libyenne à Tunis, j'ai été impliqué dans la mise en place et l'installation d'équipements réseaux et de sécurité, et la migration d’équipements Cisco vers Fortinet."
    },
    {
        name: "Projets scolaire Bachelor 1-ère année",
        image: getProjectImage("projet-3"),
        created_at: "2021-10-01",
        description: "Durant ma première année de Bachelor, j'ai acquis des compétences en configuration de routeurs en mode statique et dynamique, ainsi que des serveurs et switchs. J'ai également travaillé sur la configuration de différents protocoles, l'analyse et la configuration de différentes trames réseaux, la création de plusieurs domaines de broadcast en modes statique et dynamique, et la configuration de VLAN et la création de sous-réseaux."
    },
    {
        
        name: "Projets réalisé durant mon stage a Next Step IT",
        image: getProjectImage("prj2"),
        created_at: "2023-05-14",
        description: "Lors de mon stage chez Next Step IT, j'ai été responsable de l'installation, du paramétrage, de la sécurisation et de la maintenance des infrastructures informatiques. J'ai également configuré des FortiGates 30E, FortiSwitch, FortiAP, ACLs, antivirus et filtres DNS, et effectué une migration d’équipements Cisco vers Fortinet. De plus, j'ai joué un rôle clé dans la sensibilisation des employés à la bonne utilisation des systèmes informatiques et aux bonnes pratiques."
    },
    {
        name: "Projets scolaire Bachelor 2-ème année",
        image: getProjectImage("projet-4"),
        created_at: "2022-10-05",
        description: "Durant ma deuxième année de Bachelor, j'ai travaillé sur plusieurs projets en réseaux avec Cisco Packet Tracer. J'ai notamment configuré le protocole RIPv1 et RIPv2, le NAT statique et overloading sur des routeurs, effectué l'adressage dynamique et statique de domaines de broadcast, mis en service des serveurs WEB, et travaillé avec le protocole STP."
    }
];

var githubProjectsWithImages = githubProjects.map(project => {
    var projectName = project.name.split('/').pop();
    return {
        html_url: project.html_url,
        name: project.name,
        image: getProjectImage(projectName)
    };
});

// Tri des projets du plus récent au plus ancien
var projects = [...manualProjects, ...githubProjectsWithImages].sort((a, b) => {
    return new Date(a.created_at) - new Date(b.created_at);
});


---

<BaseLayout
    title="Mon Travail | Rayane JERBI"
    description="Découvrez les projets récents de Rayane JERBI"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Mon Travail"
                tagline="Découvrez mes projets les plus récents ci-dessous pour avoir une idée de mon expérience passée."
                align="start"
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li>
                            <a class="card" href={project.html_url}>
                                <span class="title">{project.name}</span>
                                <img src={project.image} alt={`Image du projet ${project.name}`} loading="lazy" decoding="async" />
                                {project.description && <p class="description">{project.description}</p>}
                            </a>
                        </li>
                    ))
                }
            </Grid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>


<style>
	.card {
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		height: 11rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 500;
		transition: box-shadow var(--theme-transition);
	}

	.card:hover {
		box-shadow: var(--shadow-md);
	}

	.title {
		grid-area: 1 / 1 / 2 / 2;
		z-index: 1;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--gray-999);
		color: var(--gray-200);
		border-radius: 0.375rem;
	}

	img {
		grid-area: 1 / 1 / 3 / 3;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (min-width: 50em) {
		.card {
			height: 22rem;
			border-radius: 1.5rem;
		}

		.title {
			border-radius: 0.9375rem;
		}
	}
</style>
